@import 'tailwindcss';
@import '@ui/src/app/globals.css';
@source "../../../ui/src";
:root {
  --primary: #00e6bb;
  --primary-foreground: #ffffff;
  --primary-dark: #108771;

  --background: #000000;
  --card-dark-background: #18181b;

  --foreground: #ffffff;

  --card-from: #001612;
  --card-to: #000000;
  --icon-color: var(--primary);
  --icon-bg: #00261f;

  --radius: 0.375rem;
  --animate-marquee-left: marquee-left var(--duration, 45s) linear infinite;
}

@theme inline {
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-background: var(--background);
  --color-card-from: var(--card-from);
  --color-card-to: var(--card-to);
  --color-icon-bg: var(--icon-bg);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
}

.card-gradient {
  background: linear-gradient(to bottom right, var(--card-from), var(--card-to));
}

.icon-chip {
  background: var(--icon-bg);
  color: var(--icon-color);
}

@keyframes marquee-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}
